[submodule "datasets/git"]
	path = datasets/anime-face-detector
	url = https://github.com/qhgz2013/anime-face-detector
[submodule "datasets\\anime-face-detector"]
	path = datasets\\anime-face-detector
	url = https://github.com/qhgz2013/anime-face-detector
